<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibejukebox.jukebox" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.vibejukebox.jukebox.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.vibejukebox.jukebox.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:name=".JukeboxApplication"
        android:allowBackup="true"
        android:icon="@drawable/vibeappicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.VibeJukeboxMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/VibeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LogInPremiumSpotify"
            android:label="@string/title_activity_log_in_premium_spotify" >
        </activity>
        <activity
            android:name=".activities.JukeboxListOfJukeboxes"
            android:label="@string/title_activity_jukebox_list_of_jukeboxes"
            android:theme="@style/VibeThemeAlt"
            android:launchMode="singleInstance" >

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VibeJukeboxMainActivity" />
        </activity>
        <activity
            android:name=".activities.JukeboxPlaylistActivity"
            android:label="@string/title_activity_jukebox_playlist"
            android:screenOrientation="portrait"
            android:theme="@style/VibeTheme"
            android:parentActivityName=".activities.PlaylistSelectionActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VibeJukeboxMainActivity" />
        </activity>
        <activity
            android:name=".activities.MusicSearchActivity"
            android:label="@string/title_activity_music_search"
            android:theme="@style/VibeTheme">
        </activity>
        <activity
            android:name=".activities.StartingPlaylistActivity"
            android:label="@string/title_activity_starting_playlist"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="callback"
                    android:scheme="com.vibejukebox.jukeboxapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.JukeboxSavedPlaylists"
            android:launchMode="singleInstance"
            android:theme="@style/VibeThemeAlt" >
        </activity>
        <activity
            android:name=".activities.PlaylistSelectionActivity"
            android:label="@string/title_activity_playlist_selection"
            android:theme="@style/VibeThemeAlt"
            android:parentActivityName=".activities.VibeJukeboxMainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VibeJukeboxMainActivity" />
        </activity>

        <service
            android:name=".service.VibeService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".activities.MusicParameterActivty"
            android:label="@string/title_activity_music_parameter_activty"
            android:theme="@style/VibeThemeAlt"
            android:parentActivityName=".activities.PlaylistSelectionActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PlaylistSelectionActivity" />
        </activity>
    </application>

</manifest>
