<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vibejukebox.jukebox" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.vibejukebox.jukebox.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.vibejukebox.jukebox.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/vibeappicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".VibeJukeboxMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInPremiumSpotify"
            android:label="@string/title_activity_log_in_premium_spotify" >
        </activity>
        <activity
            android:name=".JukeboxListOfJukeboxes"
            android:label="@string/title_activity_jukebox_list_of_jukeboxes" >
        </activity>
        <activity
            android:name=".JukeboxPlaylistActivity"
            android:label="@string/title_activity_jukebox_playlist"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <activity
            android:name=".MusicSearchActivity"
            android:label="@string/title_activity_music_search" >
        </activity>
        <activity
            android:name=".StartingPlaylistActivity"
            android:label="@string/title_activity_starting_playlist"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="callback"
                    android:scheme="com.vibejukebox.jukeboxapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".JukeboxUserPlaylistActivity"
            android:label="@string/title_activity_jukebox_user_playlist"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".JukeboxSavedPlaylists"
            android:label="@string/title_activity_jukebox_saved_playlists"
            android:launchMode="singleInstance" >

        </activity>
    </application>

</manifest>
