<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vibejukebox.jukebox" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove"/>

    <application
        android:name=".JukeboxApplication"
        android:allowBackup="true"
        android:icon="@drawable/vibeappicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activities.VibeJukeboxMainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/VibeTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".activities.JukeboxListOfJukeboxes"
            android:label="@string/title_activity_jukebox_list_of_jukeboxes"
            android:launchMode="singleInstance"
            android:parentActivityName=".activities.VibeJukeboxMainActivity"
            android:theme="@style/VibeThemeAlt" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VibeJukeboxMainActivity" />
        </activity>
        <activity
            android:name=".activities.JukeboxPlaylistActivity"
            android:label="@string/title_activity_jukebox_playlist"
            android:parentActivityName=".activities.PlaylistSelectionActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/VibeTheme" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PlaylistSelectionActivity" />
        </activity>
        <activity
            android:name=".activities.MusicSearchActivity"
            android:label="@string/title_activity_music_search"
            android:theme="@style/VibeTheme" >
        </activity>

        <activity
            android:name=".activities.JukeboxSavedPlaylists"
            android:launchMode="singleInstance"
            android:theme="@style/VibeThemeAlt" >
        </activity>
        <activity
            android:name=".activities.PlaylistSelectionActivity"
            android:label="@string/title_activity_playlist_selection"
            android:parentActivityName=".activities.VibeJukeboxMainActivity"
            android:theme="@style/VibeThemeAlt" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.VibeJukeboxMainActivity" />
        </activity>

        <service
            android:name=".service.VibeService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".activities.MusicParameterActivty"
            android:label="@string/title_activity_music_parameter_activty"
            android:parentActivityName=".activities.PlaylistSelectionActivity"
            android:theme="@style/VibeThemeAlt" >

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PlaylistSelectionActivity" />
        </activity>

        <!-- Broadcast Receiver for monitoring connectivity changes -->
        <receiver android:name=".NetworkConnection"
            android:label="NetworkConnection" >

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>